{% extends "base.html.twig" %}
{% block body %}
  <div class="gutter-top">
    <div class="row">
      <div class="col col-xl-4 offset-xl-4 text-center gutter-lg">
        <a href="{{ path('dashboard_blank') }}" class="btn btn-lg" style="background-color: #D977EE; color: #FFF;">
          Dashboard
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-4 offset-xl-4 text-center gutter-lg">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/C9Q98Ct2FCE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
{% endblock %}
