@import "../vars";

.editor-activities {
  color: #333;
  height: 100%;
  background-color: #f6f6f6;
  border-right: 1px solid #dadada;
  margin: -$gutter-size;
}

.editor-activities-body {
  padding: $gutter-size;
}

.editor-activity-items {
  margin-bottom: 0;
}

.editor-activity-item {
  margin-bottom: $gutter-size;
  padding-bottom: $gutter-size;
  border-bottom: 1px solid #dadada;

  &:last-child {
    margin-bottom: 0;
  }
}

.editor-activity-item-body {
  display: flex;
}

.editor-activity-item-icon {
  margin-right: 0.25rem;
}

.editor-activity-item-avatar-name,
.editor-activity-item-icon,
.editor-activity-item-date {
  font-size: $font-size-sm;
}

.editor-activity-item-avatar-name {
  font-weight: bold;
  margin-right: 0.25rem;
}

.editor-activity-item-avatar {
  margin-right: $gutter-size;

  .avatar-sm {
    height: 46px;
    width: 46px;
  }
}

.editor-activity-item-body-message {
  word-break: break-all;

  i {
    display: inline-block;
    font-style: italic;
    margin-left: $gutter-size-sm;
  }
}

.editor-activities-read-more {
  cursor: pointer;
  text-align: center;
}
