@import "../vars";

.editor-activities {

}

.editor-activity-item {
  margin-bottom: $gutter-size;
}

.editor-activity-item-body {
  display: flex;
}

.editor-activity-item-icon {
  margin-right: 0.25rem;
}

.editor-activity-item-avatar-name,
.editor-activity-item-icon,
.editor-activity-item-date {
  font-size: $font-size-sm;
}

.editor-activity-item-avatar-name {
  font-weight: bold;
  margin-right: 0.5rem;
}

.editor-activity-item-avatar {
  margin-right: $gutter-size;

  .avatar-sm {
    height: 46px;
    width: 46px;
  }
}
