@import "../vars";

.block-editor {
  padding: 1px $gutter-size 0 $gutter-size + 1px !important;
}

.block-editor-text {
  min-height: $height-block-text;
}

.block-editor-image {

}

.block-editor-video {

}

.block-editor-text-editable {
  width: 100%;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }

  &.block-text {
    min-height: $height-block-text;
  }
}
