@import "../vars";

.block-editor {
  width: 100%;
  position: absolute;
  margin-bottom: $margin-bottom-block;
  border-radius: $border-radius-blocks;

  &.block-editor-text {
    padding: 0 $gutter-size !important;
  }

  &.block-editor-headline {
    margin-bottom: $margin-bottom-block - 10px;
  }
}

.block-editor-text {
  // min-height: $height-block-text;
  h1 {
    margin-bottom: 0;
  }
}

.block-editor-image {
  // min-height: $height-block-image;
  position: absolute;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  img {
    max-width: 100%;
  }

  figure {
    margin-bottom: 0;
  }

  $caption-height: 73px;

  .block-editor-image-caption {
    height: $caption-height;
    padding: $gutter-size-sm;
    background-color: $color-block-image;
    position: absolute;
    bottom: -$caption-height;
    left: 0;
    right: 0;

    input {
      width: 100%;
      padding-top: 2px;
      font-size: 14px;
      font-style: italic;
      text-align: center;
      line-height: 20px;
      color: #9B9E9E;
      border: 1px solid $color-block-image;
      display: block;
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.5);

      & + input {
        margin-top: $gutter-size-sm;
        font-style: normal;
      }
    }
  }
}

.block-editor-video,
.block-editor-audio {
  position: absolute;
  min-height: $height-block-video;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .icon {
    color: #FFF;
    font-size: 3rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}

.block-editor-video-mask,
.block-editor-audio-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.block-editor-video-contents,
.block-editor-audio-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $gutter-size * 5;
}

.block-editor-audio {
  min-height: $height-block-audio;
}

.block-editor-text-editable {
  width: 100%;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }

  &.block-text {
    // min-height: $height-block-text;
  }
}
