@import "../vars";

.block-menu {
  height: $block-menu-height;
  position: absolute;
  top: -$block-menu-height;
  left: -$gutter-size;
  width: $width-block + ($gutter-size * 2) !important;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;

  .block-empty & {
    top: 0;
    left: 0;
    width: $width-block !important;
    border-top-left-radius: $border-radius-blocks;
    border-top-right-radius: $border-radius-blocks;
  }
}

.block-container-menu {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  .block-hover & {
    opacity: 1;
  }

  .block-active & {
    opacity: 0;
  }
}

.block-menu-text {
  background-color: $color-block-text;
}

.block-menu-image {
  background-color: $color-block-image;
}

.block-menu-video {
  background-color: $color-block-video;
}

.block-menu-item {
  cursor: pointer;
  color: #EEE;
  border: 0;
  opacity: 0.8;
  background-color: transparent;

  &:hover:not(:disabled) {
    opacity: 1;
    color: #FFF;
  }

  &.btn-active {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.block-menu-item-remove {
  margin-left: auto;
}
