@import "../vars";

.block-menu {
  height: $height-block-menu;
  position: absolute;
  top: -$height-block-menu;
  left: -$gutter-size;
  padding: 0 $gutter-size-sm;
  width: $width-block + ($gutter-size * 2) !important;
  border-top-left-radius: $border-radius-blocks;
  border-top-right-radius: $border-radius-blocks;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.25);

  .block-empty & {
    left: 0;
    top: -$height-block-menu;
    width: $width-block !important;
    border-top-left-radius: $border-radius-blocks;
    border-top-right-radius: $border-radius-blocks;
  }

  &.block-menu-image,
  &.block-menu-video,
  &.block-menu-audio {
    left: 0;
    width: $width-block !important;
  }
}

.block-container-menu {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  .block-hover &,
  .block-dragging & {
    opacity: 1;
  }

  .block-active & {
    opacity: 0;
  }
}

.block-menu-text {
  background-color: $color-block-text;
}

.block-menu-image {
  background-color: $color-block-image;
}

.block-menu-video {
  background-color: $color-block-video;
}

.block-menu-audio {
  background-color: $color-block-audio;
}

.block-menu-group {
  width: 33.3%;
  display: flex;
  align-items: center;

  .block-menu-item:last-child {
    margin-right: 0;
  }
}

.block-menu-middle-group {
  width: 66.3%;
  justify-content: center;
}

.block-menu-item {
  cursor: pointer;
  color: #FFF;
  border: 0;
  opacity: 0.8;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-color: transparent;

  &:hover:not(:disabled) {
    opacity: 1;
    color: #FFF;
  }

  &.btn-active {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.block-menu-title {
  color: #FFF;
}
