@import "../vars";

.block-container {
  position: relative;
  outline: 0;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }

  &.block-empty {
    background-color: transparent;
    box-shadow: none;
  }
}

.block-container-inner {
  position: relative;
}

.block {
  position: relative;
  width: $width-block !important;
  border-radius: $border-radius-blocks;
  margin-bottom: $margin-bottom-block;

  .block-active & {
    position: absolute;
  }

  &.block-text-headline {
    margin-bottom: 20px;
  }

  &.block-hover {
    cursor: grab !important;
  }

  &.block-dragging {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  @include media-md {
    width: 100% !important;
  }
  @include media-sm {
    width: 100% !important;
  }
  @include media-xs {
    width: 100% !important;
  }
}

.block-expanded:not(.block-image) {
  cursor: default;
  z-index: 4;
  // position: absolute;
  width: $width-block + ($gutter-size * 2) !important;
  left: -$gutter-size;
  right: -$gutter-size;
  padding: 0 $gutter-size;
  background-color: #FFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block-empty {
  user-select: none;
  background-color: $color-canvas-block-bg;
  background-size: contain;
  border-left-width: 4px;
  transition: box-shadow 0.1s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);

  &::after {
    position: absolute;
    bottom: $gutter-size-sm;
    right: $gutter-size;
    font-weight: 800;
    font-size: 1.5rem;
    color: $color-canvas-block-icon;
  }

  &.block-text {
    height: $height-block-text;
    border-left-style: solid;
    border-left-color: $color-block-text;
    background: $color-canvas-block-bg center center url(/images/block-placeholder-text.png) no-repeat;

    &::after {
      content: '680x100';
    }

    &.block-active {
      background-color: $color-canvas-block-active-bg;
      background-image: none;

      &::after {
        content: '';
      }
    }
  }

  &.block-image {
    height: $height-block-image;
    border-left-style: solid;
    border-left-color: $color-block-image;
    background: $color-canvas-block-bg center center url(/images/block-placeholder-image.png) no-repeat;

    &::after {
      content: '400x100';
    }

    &.block-active {
      background-color: $color-canvas-block-active-bg;
      background-image: none;

      &::after {
        content: '';
      }
    }
  }

  &.block-video {
    height: $height-block-video;
    border-left-style: solid;
    border-left-color: $color-block-video;
    background: $color-canvas-block-bg center center url(/images/block-placeholder-video.png) no-repeat;

    &::after {
      content: '382x100';
    }

    &.block-active {
      background-color: $color-canvas-block-active-bg;
      background-image: none;

      &::after {
        content: '';
      }
    }
  }
}

.block-text:not(.block-empty) {
  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #009E74;
    text-decoration: underline;
  }

  i {
    font-style: italic;
  }

  b {
    font-weight: 700;
  }

  ul {
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 0;

    li {
      margin-left: 20px;
      margin-bottom: 6px;
      font-size: 17px;
      line-height: 16px;
      list-style-type: disc;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 0;

    &.block-text-headline-about {
      margin-bottom: 30px;
    }
  }

  &.block-dragging {
    background-color: #FFF;
    width: $width-block + ($gutter-size * 2) !important;
    left: -$gutter-size;
    right: -$gutter-size;
    padding: 0 $gutter-size;
  }
}

.block-image {
  margin-bottom: 12px;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    line-height: 20px;
    color: #9B9E9E;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
  }

  &.block-dragging {
    background-color: #FFF;
  }
}

.block-description {
  position: absolute;
  width: 680px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: $color-canvas-block;
  font-family: 'Baloo Chettan', cursive;
}

.block-highlighted {
  box-shadow: 0 0 3px 2px rgba($color-primary, 0.5);
}
