@import "../vars";

.editor-canvas-col {
  @include media-xl {
    padding-left: 0;
  }
}

.editor-canvas-body {
  max-height: calc(100vh - #{$header-height});
  overflow-x: hidden;
  overflow-y: scroll;

  .container {
    padding-top: $gutter-size;
  }
}

.editor-canvas-body-col {
  padding-left: 0;
  padding-right: 0;
}

.editor-canvas-blocks {
  margin-bottom: 0;
  padding-bottom: 50px;
  min-height: calc(100vh - #{$header-height});
}

.editor-canvas-block {
  width: $width-block !important;
  user-select: none;
  background-color: #efefef;
  background-size: contain;
  margin-bottom: $gutter-size-sm;
  border-radius: $border-radius-blocks;

  @include media-md {
    width: 100% !important;
  }
  @include media-sm {
    width: 100% !important;
  }
  @include media-xs {
    width: 100% !important;
  }
}

.editor-canvas-block-text {
  height: 100px !important;
  background-image: url(/images/block-placeholder-text.png);
}

.editor-canvas-block-image {
  height: 400px !important;
  background-image: url(/images/block-placeholder-image.png);
}

.editor-canvas-block-video {
  height: 382px !important;
  background-image: url(/images/block-placeholder-video.png);
}
