@import "../vars";

.editor-canvas-col {
  @include media-xl {
    padding-left: 0;
  }
}

.editor-canvas-body {
  max-height: calc(100vh - #{$height-header});
  overflow-x: hidden;
  overflow-y: scroll;

  .container {
    padding-top: $gutter-size;
  }
}

.editor-canvas-body-col {
  padding-left: 0;
  padding-right: 0;
  max-width: 680px;
}

.editor-canvas-blocks {
  margin-bottom: 0;
  padding-bottom: 50px;
  min-height: calc(100vh - #{$height-header});
}

.editor-canvas-campaign-kickstarter {
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
