@import "../vars";

.export-export-textarea {
  height: 200px;
  border: 1px solid $color-dim;
  padding: $gutter-size-sm;
  margin-bottom: $gutter-size;
  overflow-y: auto;

  ul {
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 0;

    li {
      margin-left: 20px;
      margin-bottom: 6px;
      font-size: 17px;
      line-height: 24px;
      list-style-type: disc;
    }
  }
}

.project-export-list {
  padding-top: $gutter-size;

  li {
    margin-bottom: $gutter-size-lg;
  }
}

.project-export-btn {
  width: 150px;
}
