@import "../vars";

.editor-header {
  height: $height-header;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  align-items: center;
  background-color: $color-header;
  border-bottom: darken($color-header, 10%);

  .brand {
    margin: 0;

    img {
      height: 50px;
    }
  }

  .btn {
    .icon {
      @include media-xl {
        margin-right: 0.25rem;
      }
      @include media-lg {
        margin-right: 0.25rem;
      }
      @include media-md {
        margin-right: 0.25rem;
      }
    }
  }
}

.editor-header-left {
  flex-grow: 1;
  width: 16%;
  padding-left: $gutter-size;
  display: flex;
}

.editor-header-middle {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-header-right {
  flex-grow: 1;
  width: 16%;
  display: flex;
  justify-content: flex-end;
}

.editor-header-project-name {
  width: 20%;

  div {
    margin-left: -46px;
  }
}

.editor-header-mobile-buttons {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;

  .navbar-toggler {
    color: #FFF;
    cursor: pointer;
  }
}
