@import "../vars";

.editor-header {
  height: $height-header;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-header;
  border-bottom: darken($color-header, 10%);

  .btn {
    .icon {
      @include media-xl {
        margin-right: 0.25rem;
      }
      @include media-lg {
        margin-right: 0.25rem;
      }
      @include media-md {
        margin-right: 0.25rem;
      }
    }
  }
}

.editor-header-left {
  flex-grow: 1;

  img {
    height: 54px;

    @include media-sm {
      height: 50px;
    }

    @include media-xs {
      height: 50px;
    }
  }
}

.editor-header-middle {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor-header-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.editor-header-project-name {
  width: 20%;

  div {
    margin-left: -46px;
  }
}

.editor-header-buttons {
  display: flex;
  justify-content: center;
}
