@import "../vars";

.editor-home {
  padding-top: $gutter-size;

  .column {
    margin-bottom: $gutter-size;
  }

  .card-project {
    .card-body {
      height: 175px;
    }

    &:hover {
      .card-footer {
        background-color: $color-primary-selected;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.error-boundary-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
