@import "../vars";

html, body {
  height: 100%;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  color: #000;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  overflow-x: hidden;
}

a {
  color: $color-link;

  &:hover {
    color: lighten($color-link, 10%);
  }
}

.editor-body {
  height: calc(100vh - #{$height-header});
  display: flex;
  flex-direction: row;

  &.editor-body-auto-height {
    height: auto;
    min-height: 100%;
  }
}

.editor-content {
  width: 100%;
  transition: transform .3s ease-in-out;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
