@import "../vars";

.editor-notes {
  color: $color-body-text;
  background-color: #f6f6f6;
  width: 350px;
  position: absolute;
  top: $height-header;
  right: -350px;
  bottom: 0;
  z-index: 100;
  border-left: 1px solid #dadada;
  transition: right .2s ease-in-out;
}

.editor-notes-visible {
  right: 0;
}

.editor-notes-body {
  height: 100%;
  padding: 0 $gutter-size-sm $gutter-size-sm $gutter-size-sm;
  display: flex;
  flex-flow: column nowrap;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.editor-note-items {
  flex: auto;
  overflow-y: auto;
  margin-bottom: 0;
}

.editor-note-items-empty {
  display: flex;
  font-size: $font-size-lg;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .icon {
    display: block;
    margin-top: $gutter-size;
  }
}

.editor-note-item {
  margin-bottom: $gutter-size-sm;
  padding: $gutter-size-sm;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $color-sidebar-block-bg;

    .editor-note-item-delete-icon,
    .editor-note-item-quote-icon {
      display: block;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.editor-note-item-delete-icon,
.editor-note-item-quote-icon {
  float: right;
  display: none;
  cursor: pointer;
}

.editor-note-item-delete-icon {
  color: $color-danger;

  &:hover {
    color: lighten($color-danger, 10%);
  }
}

.editor-note-item-quote-icon {
  color: $color-dim;

  &:hover {
    color: lighten($color-dim, 10%);
  }
}

.editor-note-item-avatar {
  display: flex;
  align-items: center;
  color: #AAA;
  margin-bottom: $gutter-size-sm;

  .avatar {
    margin-right: $gutter-size;
  }

  .editor-note-item-avatar-name {
    font-size: 1rem;
    line-height: 1rem;
  }

  time {
    font-size: 0.8rem;
  }
}

.editor-note-item-message {
  color: $color-dim;
  line-height: 1.4rem;

  blockquote {
    max-width: 100%;
    margin-bottom: $gutter-size;
    padding-left: 7.5px;
    border-left: 3px solid $color-info;
  }
}

.editor-note-item-attachment-image {
  color: $color-dim;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-dim;
  }

  img {
    max-height: 50px;
    max-width: 32px;
    margin-right: $gutter-size-sm;
  }

  span {
    font-size: $font-size-sm;
  }
}

.editor-note-item-attachment-file {
  color: $color-dim;
  display: flex;
  align-items: center;

  &:hover {
    color: $color-dim;
  }

  span {
    font-size: $font-size-sm;
  }
}

.editor-notes-form {
  flex: none;

  .form-group {
    margin-bottom: 0;
  }

  .btn-attachment {
    color: $color-dim !important;
  }
}

.editor-notes-form-attachment {
  color: $color-dim;
  font-size: $font-size-sm;
  font-style: italic;
}

.editor-note-item-details {
  display: flex;
  flex-direction: column;
}

.editor-note-count {
  position: absolute;
  top: $height-header + $gutter-size;
  right: $gutter-size * 2;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  .icon {
    color: #242424;
  }
}

.editor-note-count-visible {
  opacity: 1;
}

.editor-note-count-value {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
