@import "../vars";

.editor-notes {
  color: $color-body-text;
  background-color: #f6f6f6;
  width: 350px;
  position: absolute;
  top: $height-header;
  right: -350px;
  bottom: 0;
  z-index: 100;
  transition: right .2s ease-in-out;
}

.editor-notes-visible {
  right: 0;
}

.editor-notes-body {
  height: 100%;
  padding: $gutter-size $gutter-size-sm $gutter-size $gutter-size;
  display: flex;
  flex-flow: column nowrap;
}

.editor-note-items {
  flex: auto;
  overflow-y: auto;
}

.editor-note-items-empty {
  display: flex;
  font-size: $font-size-lg;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .icon {
    display: block;
    margin-top: $gutter-size;
  }
}

.editor-note-item {
  margin-bottom: $gutter-size-sm;
  padding: $gutter-size-sm;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $color-sidebar-block-bg;

    .editor-note-item-delete-icon {
      display: block;
    }
  }
}

.editor-note-item-delete-icon {
  float: right;
  display: none;
  color: $color-danger;
  cursor: pointer;

  &:hover {
    color: lighten($color-danger, 10%);
  }
}

.editor-note-item-avatar {
  display: flex;
  align-items: center;
  color: #AAA;

  .avatar {
    margin-right: $gutter-size;
  }

  .editor-note-item-avatar-name {
    font-size: 1rem;
    line-height: 1rem;
  }

  time {
    font-size: 0.8rem;
  }
}

.editor-note-item-message {
  margin-left: 50px;
}

.editor-notes-form {
  flex: none;
}

.editor-note-item-details {
  display: flex;
  flex-direction: column;
}

.editor-note-count {
  position: absolute;
  top: $height-header + $gutter-size;
  right: $gutter-size * 2;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  .icon {
    color: #242424;
  }
}

.editor-note-count-visible {
  opacity: 1;
}

.editor-note-count-value {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
