@import "../vars";

.editor-sidebar-col {
  @include media-xl {
    padding-right: 0;
  }
}

.editor-sidebar {
  color: #FFF;
  background-color: $color-secondary;
}

.editor-sidebar-body {
  padding: $gutter-size;
}

.editor-sidebar-title {
  font-size: 1rem;
  margin-bottom: $gutter-size;
}

.editor-sidebar-block {
  cursor: pointer;
  color: #FFF;
  user-select: none;
  border-radius: $border-radius-blocks;
  padding: $gutter-size-lg;
  text-align: center;
  margin-bottom: $gutter-size-sm;
  background-size: contain;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  transition: width 0.2s;

  &:hover {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

.editor-sidebar-block-text {
  background-color: $color-block-text;
}

.editor-sidebar-block-image {
  background-color: $color-block-image;
}

.editor-sidebar-block-video {
  background-color: $color-block-video;
}

.editor-sidebar-block-over {
  width: $width-block !important;
  height: 100px !important;
  border: 0;
}
