@import "../vars";

.editor-sidebar-col {
  @include media-xl {
    padding-right: 0;
  }
}

.editor-sidebar {
  color: #FFF;
  background-color: #242424;
  flex: 1 0 $width-sidebar;
  transition: transform .3s ease-in-out;

  @include media-md {
    flex: 1 0 $width-sidebar-md;
  }
}

.editor-sidebar-body {
  padding: $gutter-size;
}

.editor-sidebar-title {
  font-size: 1rem;
  margin-bottom: $gutter-size-sm;
}

.editor-sidebar-block {
  cursor: pointer;
  color: #FFF;
  background-color: $color-canvas-block-bg;
  user-select: none;
  border-radius: $border-radius-blocks;
  padding: $gutter-size;
  text-align: center;
  margin-bottom: $gutter-size-sm;
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  transition: width 0.2s;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .icon {
    margin-right: 1rem;
  }
}

.editor-sidebar-block-text {
  border-left-color: $color-block-text;
}

.editor-sidebar-block-image {
  border-left-color: $color-block-image;
}

.editor-sidebar-block-video {
  border-left-color: $color-block-video;
}

.editor-sidebar-block-audio {
  border-left-color: $color-block-audio;
}

.editor-sidebar-block-over {
  width: $width-block !important;
  height: 100px !important;
}

.editor-menu-sidebar {
  color: #FFF;
  width: $width-sidebar;
  position: absolute;
  background-color: #242424;
  flex: 1 0 $width-sidebar;
  padding: $gutter-size;
  transition: transform .2s ease-in-out;
  transform: translateX(-$width-sidebar);

  @include media-md {
    width: $width-sidebar-md;
    flex: 1 0 $width-sidebar-md;
    transform: translateX(-$width-sidebar-md);
  }

  &.editor-menu-sidebar-open {
    transform: translateX(0);
  }

  .btn {
    width: 100%;
    margin-bottom: $gutter-size-sm;
  }
}
