@import "../vars";

.editor-team {
  margin-bottom: $gutter-size-sm;
}

.editor-team-member {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: $gutter-size-sm;
  border-radius: $border-radius-blocks;
  transition: background-color 0.1s ease-in-out;

  @include media-md {
    justify-content: center;
  }

  &:hover {
    background-color: $color-sidebar-block-bg;
  }

  .avatar {
    margin-right: 1rem;
  }

  .badge {
    margin-left: auto;
  }
}

.editor-team-member-info {
  display: flex;
  flex-direction: column;

  @include media-md {
    display: none;
  }

  span {
    line-height: 1rem;
    font-weight: 700;
  }
}

.editor-team-btn {
  color: $color-body-text;
  opacity: 0.9;
  margin-left: -4px;
  padding: 0 0 0 0.25rem;
  display: flex;
  align-items: center;

  @include media-md {
    width: 100%;
    justify-content: center;
  }

  .icon {
    margin-right: 0.5rem;
    font-size: 76px;
    color: $color-body-text;

    &:hover {
      color: $color-body-text;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-body-text;
    box-shadow: none;
  }

  &:hover {
    opacity: 1;
  }
}

.editor-team-actions {
  margin: -$gutter-size;

  h6 {
    margin-bottom: 0.25rem;
  }
}

.editor-team-action-heading {
  display: flex;
  justify-content: space-between;
}

.editor-team-action-buttons {
  .btn {
    padding: 0;
  }
}
