@import "../vars";

.editor-team {
  margin-bottom: $gutter-size-sm;
}

.editor-team-member {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: $gutter-size-sm;
  border-radius: $border-radius-blocks;

  &:hover {
    background-color: $color-primary-selected;
  }

  .avatar {
    margin-right: 0.5rem;
    height: 32px;
    width: 32px;
  }

  .badge {
    margin-left: auto;
  }
}

.editor-team-member-info {
  display: flex;
  flex-direction: column;

  span {
    line-height: 1rem;
  }
}

.editor-team-btn {
  color: #FFF;
  opacity: 0.9;
  margin-left: -4px;
  font-size: 0.9rem;
  padding: 0 0 0 0.25rem;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
    font-size: 32px;
  }

  &:hover,
  &:active,
  &:focus {
    color: #FFF;
    box-shadow: none;
  }

  &:hover {
    opacity: 1;
  }
}

.editor-team-actions {
  margin: -$gutter-size;

  h6 {
    margin-bottom: 0.25rem;
  }
}

.editor-team-action-heading {
  display: flex;
  justify-content: space-between;
}

.editor-team-action-buttons {
  .btn {
    padding: 0;
  }
}
