@import "../vars";

.workspace-dashboard,
.workspace-profile,
.workspace-new-project,
.workspace-project-settings,
.workspace-project-export {

  .editor-sidebar {
    transform: translateX(-300px);
  }

  .editor-content {
    transform: translateX(-150px);
  }
}

.workspace-content,
.workspace-dashboard,
.workspace-new-project,
.workspace-profile,
.workspace-login,
.workspace-project-settings,
.workspace-project-export {
  .workspace-body {
    min-height: calc(100vh - #{$height-header} - #{$height-footer});
  }
}

.workspace-editor {
  .editor-header-left {
    padding-left: $gutter-size;
  }
}

.workspace-project-settings,
.workspace-project-export {
  .editor-body {
    height: auto;
  }
}
