@import "../vars";

.navbar {
  color: #FFF;
  background-color: $color-header;
  border-bottom: darken($color-header, 10%);

  a {
    color: #FFF;

    &:hover {
      color: #FFF;
    }
  }

  .logo {
    margin-right: 0.5rem;
  }

  .brand {
    font-size: 1.5rem;
    margin: 0;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}
