@import "../vars";

.navbar {
  color: #FFF;
  height: $header-height;
  background-color: $color-header;
  border-bottom: darken($color-header, 10%);

  a {
    color: #FFF;

    &:hover {
      color: #FFF;
    }
  }

  .navbar-brand {
    margin: 0 2rem 0 0;

    img {
      height: 50px;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}
