@import "vars";

.btn-primary {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-selected;
  }
}

.btn-block-text {
  background-color: $color-block-text;
}

.btn-block-image {
  background-color: $color-block-image;
}

.btn-block-video {
  background-color: $color-block-video;
}

.btn-spaced-group {
  .btn {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
