@import "vars";

.btn {
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
  }
}

.btn-primary,
a.btn-primary {
  color: $color-body-text !important;
  background-color: $color-primary-selected;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-primary-selected !important;
  }
}

.btn-success,
a.btn-success {
  color: #FFF !important;
  background-color: $color-success;

  &:hover {
    background-color: lighten($color-success, 5%);
  }
}

.btn-block-text {
  color: #FFF;
  background-color: $color-block-text;

  &:hover {
    color: #FFF;
    background-color: lighten($color-block-text, 10%);
  }
}

.btn-block-image {
  color: #FFF;
  background-color: $color-block-image;

  &:hover {
    color: #FFF;
    background-color: lighten($color-block-image, 10%);
  }
}

.btn-block-video {
  color: #FFF;
  background-color: $color-block-video;

  &:hover {
    color: #FFF;
    background-color: lighten($color-block-video, 10%);
  }
}

.btn-block-audio {
  color: #FFF;
  background-color: $color-block-audio;

  &:hover {
    color: #FFF;
    background-color: lighten($color-block-audio, 10%);
  }
}

.btn-spaced-group {
  .btn {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 0.25rem 0.35rem;
}
