@import "vars";

.card-footer {
  font-size: $text-sm;
  color: #FFF;
  background-color: $color-primary;
}

.card-selected {
  background-color: $color-primary;

  .card-footer {
    border-top-color: $color-primary;
  }
}

.card-project {
  cursor: pointer;

  .card-body {
    height: 180px;
    padding: 2px;
    overflow: hidden;
    background-color: #FFF;
  }
}

.card-project-thumb {
  width: 100%;
}
