@import "vars";

.card {
  background-color: transparent;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.card-header {
  font-size: 1.2rem;
}

.card-footer {
  font-size: $font-size-sm;
  color: #FFF;
  background-color: $color-primary;
}

.card-selected {
  .card-footer {
    background-color: $color-primary-selected;
  }
}

.card-project {
  display: flex;
  border: 1px solid #dadada;
  padding: $gutter-size-sm;
}

.card-project-thumb {
  cursor: pointer;
  width: 300px;
  height: 168px;
}

.card-project-details {
  flex-grow: 2;
  position: relative;
  padding-left: $gutter-size-sm;
}

.card-project-name {
  margin-bottom: 0;
}

.card-project-subtitle {
  font-size: $font-size-sm;
  color: $color-dim;
}

.card-project-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-left: $gutter-size-sm;
  justify-content: space-between;
}

.card-project-social-icons {

}

/*.card-project {
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .card-body {
    height: 128px;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
  }
}

.card-project-thumb {
  width: 100%;
}*/
