@import "vars";

.card {
  background-color: transparent;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.card-header {
  font-size: 1.2rem;
}

.card-footer {
  font-size: $font-size-sm;
  color: #FFF;
  background-color: $color-primary;
}

.card-selected {
  .card-footer {
    background-color: $color-primary-selected;
  }
}

.card-project {
  display: flex;
  border: 1px solid #dadada;
  padding: $gutter-size-sm;
}

.card-project-thumb {
  cursor: pointer;
  width: 300px;
  height: 168px;
}

.card-project-details {
  flex-grow: 2;
  position: relative;
  padding-left: $gutter-size-sm;
}

.card-project-name {
  margin-bottom: 0;
}

.card-project-subtitle {
  font-size: $font-size-sm;
  color: $color-dim;
}

.card-project-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-left: $gutter-size-sm;
  justify-content: space-between;
}

.card-project-social-icons {

}

/*.card-project {
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .card-body {
    height: 128px;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
  }
}

.card-project-thumb {
  width: 100%;
}*/

.card-public-project {
  border: 0;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .card-img-top {
    height: 178px;
    object-fit: cover;
  }

  small {
    color: #000;
    display: block;
    padding: 0 $gutter-size;
  }
}

.card-public-project-body {
  padding: $gutter-size-sm $gutter-size;
}

.card-public-project-footer {
  background-color: #FFF;
  border-top: 0;
  display: flex;
  align-items: center;
  padding: 0 $gutter-size $gutter-size-sm;

  .btn {
    border: 0;
    margin-left: auto;
    padding: 0.3rem 0.5rem;
    background-color: #E1006C;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:active {
      background-color: #ff0078 !important;
      box-shadow: none !important;
    }
  }
}

.card-public-project-subtitle {
  color: $color-dim;
}
