@import "vars";

.home-page-header {
  height: 70px;
  color: #FFF;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;

  &.home-page-header-opaque {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.home-page-header-links {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  font-size: 1.15rem;

  a {
    font-weight: 700;
    padding: 0 0.5rem;
    line-height: 1.15rem;
    border-right: 1px solid #FFF;

    &:last-child {
      border-right: none;
    }
  }
}


.home-page-jumbotron {
  background-image: url(/images/home-header.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;

  @include media-md {
    height: 350px;
  }
}

.home-page-cta {
  color: #FFF;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
}

.home-page-header-brand {
  flex: 0 0 $width-sidebar;

  img {
    height: 65px;
  }
}

.home-page-used-by {
  padding: $gutter-size;
}

.home-page-used-by-images {
  display: flex;
  justify-content: space-between;

  img {
    height: 100px;

    @include media-md {
      height: 80px;
    }
  }
}

.home-page-description {
  color: #FFF;
  height: 400px;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-bottom: 4px solid #000;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57a34a+0,977811+39,977811+66,ad0f63+100 */
  background: #57a34a; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #57a34a 0%, #977811 39%, #977811 66%, #ad0f63 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #57a34a 0%,#977811 39%,#977811 66%,#ad0f63 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #57a34a 0%,#977811 39%,#977811 66%,#ad0f63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a34a', endColorstr='#ad0f63',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  h2 {
    font-size: 3rem;
    font-weight: 700;
  }
}

.home-page-public-projects {
  margin-bottom: 50px;
}
