@import "vars";
@import "~odometer/themes/odometer-theme-default.css";

$header-height: 70px;

.home-page {
  padding-top: $header-height;
}

.home-page-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4db461+0,54c068+100 */
  background: #4db461; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #4db461 0%, #54c068 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #4db461 0%,#54c068 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #4db461 0%,#54c068 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db461', endColorstr='#54c068',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

.home-page-hero-top {
  display: flex;
  min-height: 225px;
  padding-top: $gutter-size;
  padding-bottom: $gutter-size;

  .column {
    display: flex;
    align-items: center;

    @include media-xs {
      text-align: center;
      justify-content: center;
    }
  }

  .btn {
    font-weight: 700;
    padding-left: $gutter-size-lg;
    padding-right: $gutter-size-lg;
    margin-top: $gutter-size-sm;
  }

  img {
    width: 90%;

    @include media-xs {
      margin-bottom: $gutter-size;
    }
  }
}

.home-page-hero-cta {
  p {
    margin-bottom: 0;
  }
}

.home-page-hero-footer {
  color: $color-body-text;
  background-color: #64bf74;
  min-height: 85px;
  font-size: 1rem;
  line-height: 1rem;
  box-shadow: 0 -1px 0 rgb(78, 182, 98);

  @include media-xs {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .container {
    @include media-xl {
      width: 500px;
    }

    @include media-lg {
      width: 500px;
    }

    @include media-md {
      width: 100%;
    }
  }

  .column {
    height: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .odometer {
      font-size: 1.5em;
      line-height: 1em;
      display: block;
    }
  }
}

.home-page-hero-footer-raised {
  .odometer-inside {
    &:before {
      content: "$";
      font-size: 0.9em;
    }
  }
}

.home-page-mission {
  padding: $gutter-size-lg 0;
  background-color: #e5e5e5;

  ul {
    padding-left: 3rem;

    li {
      list-style-type: disc;
    }
  }
}

.home-page-projects {
  padding: $gutter-size-lg 0;
  background-color: #f6f6f6;

  a {
    color: $color-body-text;

    &:hover {
      color: $color-body-text;
    }
  }
}

.home-page-description {
  padding: $gutter-size-lg 0;
  background-color: #e5e5e5;

  .row {
    margin-bottom: $gutter-size-lg;
  }

  .column {
    display: flex;
    align-items: center;

    @include media-xs {
      text-align: center;
      justify-content: center;
    }
  }
}

.home-page-description-image-box {
  background-color: #f6f6f6;
  padding: $gutter-size-lg;
  margin-bottom: $gutter-size;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 90%;

  img {
    max-width: 100%;
    height: 200px;
  }
}

.home-page-header {
  height: $header-height;
  color: $color-brand;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #e5e5e5;
  transition: background-color 0.2s ease-in-out;
}

.home-page-header-opaque {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.home-page-header-links {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  font-size: 1.15rem;

  a {
    color: $color-brand;
    font-weight: normal;
    padding: 0 0.5rem;
    line-height: 1.15rem;
    border-right: 1px solid $color-brand;
    white-space: nowrap;

    &:hover {
      color: $color-brand;
    }

    &:last-child {
      border-right: none;
    }
  }

  @include media-sm {
    font-size: 1rem;
  }

  @include media-xs {
    font-size: 1rem;
  }
}

.home-page-header-brand {
  img {
    height: 32px;

    @include media-sm {
      height: 50px;
    }

    @include media-xs {
      height: 50px;
    }
  }
}
