@import "vars";

.loading {
  width:  50px;
  height: 50px;
  position: relative;
  z-index: 1051;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.middle {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.loading-label {
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  margin: auto;
  color: #FFF;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-size: 0.8rem;
}

.loading-circular {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.loading-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, color-primary 6s ease-in-out infinite;
}

.loading-white {
  .loading-path {
    animation: dash 1.5s ease-in-out infinite, color-white 6s ease-in-out infinite;
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color-primary {
  0% {
    stroke: $color-primary;
  }
  40% {
    stroke: $color-primary;
  }
  66% {
    stroke: $color-primary;
  }
  80%, 90% {
    stroke: $color-primary;
  }
}

@keyframes color-primary {
  0% {
    stroke: $color-primary;
  }
  40% {
    stroke: $color-primary;
  }
  66% {
    stroke: $color-primary;
  }
  80%, 90% {
    stroke: $color-primary;
  }
}

@-webkit-keyframes color-white {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%, 90% {
    stroke: #FFF;
  }
}

@keyframes color-white {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%, 90% {
    stroke: #FFF;
  }
}

// --

@keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading-cube {
  position: relative;
  z-index: 2000;

  &.middle {
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}

.lds-grid {
  position: relative;
}
.lds-grid div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: lds-grid linear 0.6s infinite;
  animation: lds-grid linear 0.6s infinite;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(8) {
  -webkit-animation-delay: -0.3996s;
  animation-delay: -0.3996s;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(7) {
  -webkit-animation-delay: -0.1998s;
  animation-delay: -0.1998s;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(3) {
  top: 50px;
}
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(6) {
  top: 100px;
}
.lds-grid div:nth-child(7),
.lds-grid div:nth-child(8),
.lds-grid div:nth-child(9) {
  top: 150px;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(7) {
  left: 50px;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(8) {
  left: 100px;
}
.lds-grid div:nth-child(3),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(9) {
  left: 150px;
}
.lds-grid div:nth-child(1),
.lds-grid div:nth-child(6),
.lds-grid div:nth-child(8) {
  background: $color-block-image;
}
.lds-grid div:nth-child(2),
.lds-grid div:nth-child(4),
.lds-grid div:nth-child(9) {
  background: $color-block-video;
}
.lds-grid div:nth-child(3),
.lds-grid div:nth-child(5),
.lds-grid div:nth-child(7) {
  background: $color-block-text;
}
.lds-grid {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
