@import "vars";

.loading {
  width:  50px;
  height: 50px;
  position: relative;
  z-index: 1051;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &.middle {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.loading-label {
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  margin: auto;
  color: #FFF;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  font-size: 0.8rem;
}

.loading-circular {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.loading-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite, color-primary 6s ease-in-out infinite;
}

.loading-white {
  .loading-path {
    animation: dash 1.5s ease-in-out infinite, color-white 6s ease-in-out infinite;
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color-primary {
  0% {
    stroke: $color-primary;
  }
  40% {
    stroke: $color-primary;
  }
  66% {
    stroke: $color-primary;
  }
  80%, 90% {
    stroke: $color-primary;
  }
}

@keyframes color-primary {
  0% {
    stroke: $color-primary;
  }
  40% {
    stroke: $color-primary;
  }
  66% {
    stroke: $color-primary;
  }
  80%, 90% {
    stroke: $color-primary;
  }
}

@-webkit-keyframes color-white {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%, 90% {
    stroke: #FFF;
  }
}

@keyframes color-white {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%, 90% {
    stroke: #FFF;
  }
}

// --

@keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes lds-grid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.loading-cube {
  position: relative;
  z-index: 2000;
  width: 100px;
  height: 100px;

  &.middle {
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}
