@import "vars";

.modal-content {
  color: #695D46;
  background-color: $color-canvas-block-bg;
}

.modal-header {
  padding: 14.5px 7.5px 4px 15.5px;

  background:
    linear-gradient(to left, #ef7138 0, #ef7138 50%, #a3e7d8 50%, #a3e7d8 80%, #cfc194 80%, #cfc194) no-repeat;
  background-size:100% 7px ;

  .icon,
  .avatar {
    margin-right: 0.5rem;
  }

  .close {
    margin: -1.25rem -1rem -1rem auto;

    .icon {
      font-size: 1rem;
    }
  }

}

.modal-title {
  font-size: 1rem;
}

.modal-body {
  .column {
    margin-bottom: $gutter-size-sm;
  }
}

.modal-body-fixed-height {
  max-height: 400px;
  overflow-y: auto;
}

.modal-footer {
  padding: $gutter-size-sm;
}

.modal-delete-btn {
  margin-right: auto !important;
}

.modal-backdrop-confirm {
  z-index: 1999;
  opacity: 0.8 !important;
}

#modal-confirm,
#modal-prompt {
  z-index: 2000;
}
