@import "vars";

.modal-header,
.modal-body,
.modal-footer {
  padding: $gutter-size-sm;
}

.modal-header {
  border-bottom: 0;

  .icon {
    margin-right: 0.5rem;
  }

  .close {
    color: #FFF;
    margin: -1.1rem -1rem -1rem auto;

    .icon {
      font-size: 1rem;
    }
  }

  .modal-title {
    font-size: 1.1rem;
  }
}

.modal-footer {
  border-top: 0;
}
