@import "vars";

.modal-content {
  color: #FFF;
  background-color: #242424;
}

.modal-header {
  padding: 11.5px 7.5px 2px 15.5px;
  @extend .striped-border;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;

  .icon,
  .avatar {
    margin-right: 0.5rem;
  }

  .close {
    color: #FFF;
    margin: -1.1rem -1rem -1rem auto;

    .icon {
      font-size: 1rem;
    }
  }

}

.modal-title {
  display: flex;
  align-items: center;
  line-height: 1.5rem;

  small {
    display: block;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}

.modal-body {
  .column {
    margin-bottom: $gutter-size;
  }
}

.modal-body-fixed-height {
  max-height: 400px;
  overflow-y: auto;
}

.modal-footer {
  padding: $gutter-size;
  border-top: 0;
}

.modal-delete-btn {
  margin-right: auto !important;
}

.modal-backdrop-confirm {
  z-index: 1999;
  opacity: 0.8 !important;
}

#modal-confirm,
#modal-prompt {
  z-index: 2000;
}

.modal-block-settings {
  .modal-content {
    border-top-width: 4px;
    border-top-style: solid;
  }
}

.modal-block-settings-text {
  .modal-content {
    border-top-color: $color-block-text;
  }
}

.modal-block-settings-image {
  .modal-content {
    border-top-color: $color-block-image;
  }
}

.modal-block-settings-video {
  .modal-content {
    border-top-color: $color-block-video;
  }
}

.modal-block-settings-audio {
  .modal-content {
    border-top-color: $color-block-audio;
  }
}

.modal-block-settings-input-description {
  height: 100px !important;
}
