@import "vars";

.project-settings-banner {
  margin-bottom: $gutter-size-sm;

  figure {
    margin-bottom: 0;
  }
}

.project-settings-banner-instructions {
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}
