@import "vars";

.project-settings-banner {
  figure {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.project-settings-banner-instructions {
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}
