@import "vars";

.profile {
  position: relative;
  padding: $gutter-size;
  margin-bottom: $gutter-size;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: $gutter-size-sm;
}

.profile-avatar-container {
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;

  .avatar {
    position: absolute;
  }

  .upload-container-circle {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.profile-section {
  margin-bottom: $gutter-size;
}

.profile-social-icon {
  font-size: 2rem;
}

.profile-social-icon-twitter {
  color: #25aadf;
}

.profile-social-icon-youtube {
  color: #ED0102;
}

.profile-social-icon-facebook {
  color: #38529B;
}

.profile-social-icon-instagram {
  color: #F06678;
}

.btn-profile-edit {
  color: #E42784;
}

.btn-profile-save {
  color: $color-success;
}
