@import "vars";

.social-icon {
  font-size: 2.2rem;
}

.social-icon-twitter {
  color: #25aadf;
}

.social-icon-youtube {
  color: #ED0102;
}

.social-icon-facebook {
  color: #38529B;
}

.social-icon-instagram {
  color: #F06678;
}
