@import "vars";

.Toastify__toast--default {
  padding: 0;
  min-height: auto;
  color: $color-body-text;
  background-color: darken($color-header, 5%);
}

.Toastify__toast--info {
  color: #FFF;
  min-height: auto;
  background-color: $color-info;
}

.Toastify__toast--error {
  color: #FFF;
  min-height: auto;
  background-color: $color-danger;
}

.Toastify__toast-body {
  padding: $gutter-size-sm;
  margin-top: 0;
  margin-bottom: 0;
}

.Toastify__close-button--default {
  position: absolute;
  top: $gutter-size-sm;
  right: $gutter-size-sm;
  color: #FFF;
}

.Toastify__toast-container {
  width: 500px;
}

.Toastify__toast-container--bottom-center {
  margin-left: -252px;
}
