@import "vars";

.gutter {
  padding: $gutter-size;
}

.gutter-sm {
  padding: $gutter-size / 2;
}

.gutter-lg {
  padding: $gutter-size-sm * 2;
}

.gutter-bottom {
  padding-bottom: $gutter-size;
}

.margin-bottom {
  margin-bottom: $gutter-size;
}

.gutter-top {
  padding-top: $gutter-size;
}

.gutter-bottom-sm {
  padding-bottom: $gutter-size / 2;
}

.gutter-top-sm {
  padding-top: $gutter-size / 2;
}

.circle {
  border-radius: 50%;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.border-grey {
  border: 1px solid #dadada;
}
