@import "vars";

.gutter {
  padding: $gutter-size;
}

.gutter-sm {
  padding: $gutter-size-sm;
}

.gutter-lg {
  padding: $gutter-size-lg;
}

.gutter-bottom {
  padding-bottom: $gutter-size;
}

.margin-bottom {
  margin-bottom: $gutter-size;
}

.gutter-top {
  padding-top: $gutter-size;
}

.gutter-top-lg {
  padding-top: $gutter-size-lg;
}

.gutter-bottom-sm {
  padding-bottom: $gutter-size-sm;
}

.gutter-top-sm {
  padding-top: $gutter-size-sm;
}

.margin-right-sm {
  margin-right: $gutter-size-sm;
}

.marginless {
  margin: 0 !important;
}

.circle {
  border-radius: 50%;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default !important;
}

.border-grey {
  border: 1px solid #dadada;
}

.striped-border {
  background: linear-gradient(to left,
    $color-block-audio 0,
    $color-block-audio 50%,
    $color-block-video 50%,
    $color-block-video 80%,
    $color-block-text 80%,
    $color-block-text
  ) no-repeat;
  background-size: 100% 3px ;
}
