$break-xs: 320px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

$color-primary: #695d47;
$color-success: #57bb10;
$color-warning: #e0a800;
$color-danger: #a92d2d;
$color-secondary: #173e43;
$color-info: #2384b1;
$color-link: #00abe5;
$color-modal-bg: #215857;
$color-dim: grey;

$color-header: $color-primary;
$color-canvas-block: #8c8383;
$color-canvas-block-icon: #E1E1E1;
$color-canvas-block-bg: #EFEFEF;
$color-canvas-block-active-bg: #FFF;
$color-block-text: #77bdc6;
$color-block-image: #d977ee;
$color-block-video: #ffc561;

:export {
  colorPrimary: $color-primary;
  colorInfo:    $color-info;
  colorSuccess: $color-success;
  colorWarning: $color-warning;
  colorDanger:  $color-danger;
  breakXs: $break-xs;
  breakSm: $break-sm;
  breakMd: $break-md;
  breakLg: $break-lg;
  breakXl: $break-xl;
}

$color-names-list: primary success info danger warning;
$colors-list: $color-primary $color-success $color-info $color-danger $color-warning;


$gutter-size: 15px;
$gutter-size-lg: $gutter-size * 2;
$gutter-size-sm: $gutter-size / 2;
$height-header: 56px;
$height-footer: 100px;
$width-block: 680px;
$border-radius-blocks: 0.3rem;
$height-block-menu: 40px;
$height-block-text: 100px;
$height-block-image: 300px;
$height-block-video: 382px;
$margin-bottom-block: 30px;

$font-size-sm: 0.9rem;

@mixin media-xs {
  @media (min-width: #{$break-xs}) and (max-width: #{$break-sm - 1px}) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: #{$break-sm}) and (max-width: #{$break-md - 1px}) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: #{$break-md}) and (max-width: #{$break-lg - 1px}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{$break-lg}) and (max-width: #{$break-xl - 1px}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{$break-xl}) {
    @content;
  }
}
