<div class="row">
  <div class="col col-md-8 offset-md-2 col-sm-12 col-12">
    {% for message in app.flashes('success') %}
      <div class="alert alert-success text-center" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
      <div class="alert alert-danger text-center" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
</div>
