<footer class="footer">
  &copy; 2019 DragStarter
  <ul class="footer-links">
    <li>
      <a href="#">
        Contact
      </a>
    </li>
    <li>
      <a href="#">
        Terms of Use
      </a>
    </li>
    <li>
      <a href="#">
        Privacy Policy
      </a>
    </li>
  </ul>
</footer>
