{% extends "bootstrap_4_layout.html.twig" %}
{% block form_help %}
  {% if form.vars.help|default %}
    <div class="form-text form-help">
      {{ form.vars.help|raw }}
    </div>
  {% endif %}
{% endblock %}

{% block file_widget -%}
  <{{ element|default('div') }}>
  {%- set type = type|default('file') -%}
  {{- block('form_widget_simple') -}}
  </{{ element|default('div') }}>
{% endblock %}
