{% extends "editor.html.twig" %}
{% block body %}
  <script>
    window.initialState = {{ initialState|json_encode|raw }};
    window.constants    = {{ constants|json_encode|raw }}
  </script>
  <div id="mount" class="h-min-100"></div>
{% endblock %}
